*, *:after, *:before {
  box-sizing: border-box;
}

h2, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

h2, h4 {
  font-family: "Roboto", sans-serif;

  color: #333333;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

p, li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 22px;
}

ul, li {
  text-decoration: none;
  list-style: disc outside;
}

ul {
  padding-left: 20px;
}

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}

body {
  background-color: #dadce2;
}

.cardContainer {
  position: relative;
  width: 300px;
  height: 400px;
  min-width: 300px;
  min-height: 400px;
  margin: 4px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.act {
  -webkit-transform: translateZ(0px) rotateY(180deg) !important;
          transform: translateZ(0px) rotateY(180deg) !important;
}
.act:after {
  display: none;
}


.card {
  display: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0  ;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.card:hover {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}
.card:hover:after {
  opacity: 1;
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(240, 238, 238, 0.815);
}
.card .front {
  z-index: 2;
}
.card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card .info {
  padding: 16px;
}

.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
}
.front .img1 {
  background-image: url(../img/audit.jpg);
}
.front .img2 {
  background-image: url(../img/rrhh.jpg);
}
.front .img3 {
  background-image: url(../img/sistemas2.jpg);
}
.front .img4 {
  background-image: url(../img/servicio_tecnico.jpg);
}
.front .img5 {
  background-image: url(../img/administracion.jpg);
}

.back {
  position: relative;
}
.back h2 {
  margin-top: 6px;
  margin-bottom: 18px;
}

.back li {
  line-height: 22px;
  margin: 2px 0 6px 0;
}
.front .btn {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 148, 27);
  background-image: linear-gradient(-90deg, rgb(59, 166, 253), rgba(93, 179, 250, 0.925));
  border-radius: 5px;
  cursor: pointer;
}
.front .btn:hover h4 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
.front .btn:hover svg {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}
.front .btn h4 {
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.front .btn svg {
  margin: 1px 0 0 4px;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}
